.container.learn{ :style => "max-width: 600px"}
  %h3 thredbed is a news source
  Find out what's happening in the world today through the eyes of
  individuals who share links to articles, videos, what-have-you and write their personal take on the
  subject. You don't even have to sign up to read any thread.
  %h3 thredbed is social media
  Follow users whose posts and comments interest you to receive a more personalized home page news feed. In each thread, we'll show you
  comments by the people you're following first.
  %p 'Like' and 'dislike' threads, comments, and replies to express your reaction and help us decide their order of appearance.
  %h3 thredbed has a powerful text editor
  When you decide you want to start a thread, you'll find at your disposal a mini-Microsoft Word. Bolden and
  italize text, choose font sizes and colors, indent content, and  add images + extra links.
  %h3 thredbed honors those who are popular
  %p Increase your number of followers, and we'll add a colored border around your profile pic to help you stand out wherever you write.
  %ul
    %li <strong>25 Followers:</strong> &nbsp&nbspLight Purple <span style="color:#cfcbf0">|||</span>
    %li <strong>50 Followers:</strong> &nbsp&nbspGreenish Blue <span style="color:#99ffe0">|||</span>
    %li <strong>100 Followers:</strong> Crimson <span style="color:#da5802">|||</span>
