<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for joining Comlink, <%= @user.user_name %>!</h1>
    p>As a member, you can now start your own threads, comment
    and vote on other's posts, and follow people who interest you.</p>
  </body>
</html>
