.first_comment_format
  %strong
    =link_to comment_profile_avatar_select(comment.user), profile_path(comment.user.user_name)
    = render 'posts/user_info', post: comment
  = comment.content
  .time_ago= time_ago_in_words comment.created_at
  %span.voter_names= render 'comments/likes', comment: comment
