-unless current_user == comment.user
  %br
.reply_button reply
-if comment.responses.count > 0
  .signed_in_reply_line
.response_form_hide
  = simple_form_for([comment, comment.responses.build])  do |f|
    = f.input :content, label: false
    = f.submit class: "btn btn-primary"
