.reply_button reply
.reply_button_cover
.response_form_hide
  = simple_form_for([comment, comment.responses.build])  do |f|
    = f.input :content, label: false
    = f.submit class: "btn btn-primary"
