.nav_decoy
.container.organize_rows#my-posts
  -begin
    = render @posts
  -rescue ArgumentError
  - unless params[:tag] || params[:search]
    = render 'all_posts', post: @post

#infinite-scrolling
  -begin
    = will_paginate
  -rescue ArgumentError



