/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* general */

body {
  background:#EEE;
}

li {
  list-style-type: none;
}
/* links */

.nav a {
  color: white !important;
  &:hover {
    color: #DDD !important;
    background: none;
    text-decoration: none;
  }
}

a {
  color:#0059b3 !important;
  text-decoration: none !important;
  &:hover {
    color:#004080;
    background: none;
  }
}

abbr {
  display:none;
}


.well, .post_info {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}
.well:hover, .post_info:hover {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.6);
}

.glyphicon-remove {
  display:inline;
  color:#C00000;
  &:hover {
    color:#800000;
  }
}

.comment_format {
  padding-left:48px;
  color:#444;
  font-size: 15px;
  width:800px;
  margin:0 auto;
}

.post_title {
  color:black;
  font-size: 30px;
}

.comments {
  display: inline-block;
  word-wrap: break-word;
}

.commenter_name {
  display: inline-block;
}

textarea#comment_content {
  max-width:100%;
  margin-right:3px;
}
#comment_content {
  font-size:15px;
  min-height:150px;
}
#comment_content input[type=text]:focus {
    background-color: lightblue;
}
.btn {
  font-size: 15px;
}

/* format index posts */


*, *:before, *:after {box-sizing:  border-box !important;}


 .organize_rows {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 0;
 -webkit-column-gap:0;
}

.item {
 display: inline-block;
 padding:  .25rem 0.25rem 0 0.25rem;
 width:  100%;
 max-width:98%;
 word-wrap: break-word;
}

.well {
  background: #FDFDFD;
 padding:3px 10px 15px;
 position:relative;
 display: block;
 border-radius: 0;
 border:0;
 img {
  padding:5px 3px;
  border-bottom:1px solid #DDD;
  margin-bottom: 10px;
  max-width: 255px;
 }
}

.index_name, .signed_out_names {
  position:relative;
  display:inline-block;
  font-weight: bold;
  left:7px;
  top:17px;
  color:#004d99;
  &:hover {
    text-decoration: none !important;
  }
}






/* format show posts */

.post_info {
  padding:10px;
  margin-left: 5px;
  display: inline-block;
  background:white;

}

/* navigation bar */

.nav_decoy {
  dispay:inline-block;
  color:green;
  height:7%;
  background:#ff4d4d;
}

.nav {
  background: #ff4d4d;
  color:white;
  padding:10px;
  position:fixed;
  width:100%;
  display: inline-block;
  z-index: 1;
}

.nav_elements {
  position:relative;
  float:right;

}

form#search-form {
  color:black;
  float:left;
  margin:0 30px 0 0;
}


/* sign up form */
.create_your_account {
  text-align: center;
  z-index: 2;
}

.signup_reasons * {
  font-size: 15px;
}

.signup_reasons li h5 {
  word-spacing:-8px;
}

/* small thing */

.back_button {
  margin-left: 5px;
}

.glyphicon-home {
  font-size: 20px;
  margin-right: 20px;
}

.panel-body, .panel_body, input.form-control {
  font-size:15px;
}

.col-md-4 {
  padding-top: 10px;
  background:rgba(255,255,255,0.3);
}

div.well img {
  position:relative;
}

.sign_up_underline {
  text-decoration: underline;
}

.glyphicon-share-alt {
  font-size: 20px;
  margin: 5px 0 5px 5px;
  transform: scaleX(-1);
}
/* registration page */

.registration-bg {

background: rgba(255,77,77,1);
background: -moz-linear-gradient(left, rgba(255,77,77,1) 0%, rgba(230,163,39,1) 51%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,77,77,1)), color-stop(51%, rgba(230,163,39,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(left, rgba(255,77,77,1) 0%, rgba(230,163,39,1) 51%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(left, rgba(255,77,77,1) 0%, rgba(230,163,39,1) 51%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(left, rgba(255,77,77,1) 0%, rgba(230,163,39,1) 51%, rgba(231,56,39,1) 100%);
background: linear-gradient(to right, rgba(255,77,77,1) 0%, rgba(230,163,39,1) 51%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4d4d', endColorstr='#e73827', GradientType=1 );
height:100%;
}

@mixin moving_comment {
  font-size:30px;
  position:absolute;
  animation-duration: 250s;
  -webkit-animation-duration:250s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow:hidden;
}

@mixin moving_comment_2 {
  font-size:27px;
  position:absolute;
  animation-duration: 320s;
  -webkit-animation-duration:320s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow: hidden;
}

@mixin moving_comment_3 {
  font-size:27px;
  position:absolute;
  animation-duration: 310s;
  -webkit-animation-duration:310s;
  animation-delay: 30s;
  -webkit-animation-delay:30s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow: hidden;
}

.glyphicon-comment-11 {
  @include moving_comment_3;
  animation-name:gc_k;
  -webkit-animation-name: gc_k;
}

@keyframes gc_k {
  0% { top:93px; right:15%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:93px; right: 90%; color:rgba(255,153,0,0.7);}
  100% { top:93px; right: 90%; color:rgba(255,153,0,0.7);}
}

@-webkit-keyframes gc_k {
  0% { top:93px; right:15%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:93px; right: 90%; color:rgba(255,153,0,0.7);}
  100% { top:93px; right: 90%; color:rgba(255,153,0,0.7);}
}

.glyphicon-comment-12 {
  @include moving_comment_3;
  animation-name:gc_l;
  -webkit-animation-name: gc_l;
}

@keyframes gc_l {
  0% { top:200px; right:25%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:200px; right: 100%; color:rgba(255,153,0,0.7);}
  100% { top:200px; right: 100%; color:rgba(255,153,0,0.7);}
}

@-webkit-keyframes gc_l {
  0% { top:200px; right:25%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:200px; right: 100%; color:rgba(255,153,0,0.7);}
  100% { top:200px; right: 100%; color:rgba(255,153,0,0.7);}
}

.glyphicon-comment-13 {
  @include moving_comment_3;
  animation-name:gc_m;
  -webkit-animation-name: gc_m;
}

@keyframes gc_m {
  0% { top:240px; right:7%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:240px; right: 83%; color:rgba(255,153,0,0.7);}
  100% { top:240px; right: 83%; color:rgba(255,153,0,0.7);}
}

@-webkit-keyframes gc_m {
  0% { top:240px; right:7%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:240px; right: 83%; color:rgba(255,153,0,0.7);}
  100% { top:240px; right: 83%; color:rgba(255,153,0,0.7);}
}

.glyphicon-comment-1 {
  @include moving_comment;
  animation-name: gc_a;
  -webkit-animation-name: gc_a;
}

@keyframes gc_a {
  0% { top:70px; right:15%; color:rgba(255,255,255,0); }
  5% {color:rgba(255,255,255,0.6);}
  99% { top:70px; right: 90%; color:rgba(255,255,255,0.7);}
  100% { top:70px; right: 90%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_a {
  0% { top:70px; right:15%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:70px; right: 90%; color:rgba(255,255,255,0.7);}
  100% { top:70px; right: 90%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-2 {
  @include moving_comment;
  animation-name: gc_b;
  -webkit-animation-name: gc_b;
}

@keyframes gc_b {
  0% { top:100px; right:7%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:100px; right:82%; color:rgba(255,255,255,0.7);}
  100% { top:100px; right:82%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_b {
  0% { top:100px; right:7%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:100px; right: 82%; color:rgba(255,255,255,0.7);}
  100% { top:100px; right: 82%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-3 {
  @include moving_comment;
  animation-name: gc_c;
  -webkit-animation-name: gc_c;
}

@keyframes gc_c {
  0% { top:150px; right:20%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:150px; right: 100%; color:rgba(255,255,255,0.7);}
  100% { top:150px; right: 100%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_c {
  0% { top:150px; right:20%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:150px; right: 100%; color:rgba(255,255,255,0.7);}
  100% { top:150px; right: 100%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-4 {
  @include moving_comment;
  animation-name: gc_d;
  -webkit-animation-name: gc_d;
}

@keyframes gc_d {
  0% { top:180px; right:8%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:180px; right: 95%; color:rgba(255,255,255,0.7);}
  100% { top:180px; right: 95%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_d {
  0% { top:180px; right:8%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:180px; right: 95%; color:rgba(255,255,255,0.7);}
  100% { top:180px; right: 95%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-5 {
  @include moving_comment;
  animation-name: gc_e;
  -webkit-animation-name: gc_e;
}

@keyframes gc_e {
  0% { top:220px; right:2%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:220px; right: 110%; color:rgba(255,255,255,0.7);}
  100% { top:220px; right: 110%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_e {
  0% { top:220px; right:2%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:220px; right: 110%; color:rgba(255,255,255,0.7);}
  100% { top:220px; right: 110%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-6 {
  @include moving_comment_2;
  animation-name: gc_f;
  -webkit-animation-name: gc_f;
}

@keyframes gc_f {
  0% { top:70px; left:50px; color:rgba(0,0,0,0); }
  5% {color:rgba(0,0,0,0.5);}
  99% { top:70px; left: 78%; color:rgba(0,0,0,0.5);}
  100% { top:70px; left: 78%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_f {
  0% { top:70px; left:50px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:70px; left: 78%; color:rgba(0,0,0,0.5);}
  100% { top:70px; left: 78%; color:rgba(0,0,0,0);}
}

.glyphicon-comment-7 {
  @include moving_comment_2;
  animation-name: gc_g;
  -webkit-animation-name: gc_g;
}

@keyframes gc_g {
  0% { top:100px; left:300px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:100px; left:93%; color:rgba(0,0,0,0.5);}
  100% { top:100px; left:93%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_g {
  0% { top:100px; left:300px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:100px; left: 93%; color:rgba(0,0,0,0.5);}
  100% { top:100px; left: 93%; color:rgba(0,0,0,0);}
}

.glyphicon-comment-8 {
  @include moving_comment_2;
  animation-name: gc_h;
  -webkit-animation-name: gc_h;
}

@keyframes gc_h {
  0% { top:150px; left:-20px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:150px; left: 70%; color:rgba(0,0,0,0.5);}
  100% { top:150px; left: 70%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_h {
  0% { top:150px; left:-20px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:150px; left: 70%; color:rgba(0,0,0,0.5);}
  100% { top:150px; left: 70%; color:rgba(0,0,0,0);}
}

.glyphicon-comment-9 {
  @include moving_comment_2;
  animation-name: gc_i;
  -webkit-animation-name: gc_i;
}

@keyframes gc_i {
  0% { top:180px; left:100px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:180px; left: 85%; color:rgba(0,0,0,0.5);}
  100% { top:180px; left: 85%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_i {
  0% { top:180px; left:100px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:180px; left: 85%; color:rgba(0,0,0,0.5);}
  100% { top:180px; left: 85%; color:rgba(0,0,0,0);}
}

.glyphicon-comment-10 {
  @include moving_comment_2;
  animation-name: gc_j;
  -webkit-animation-name: gc_j;
}

@keyframes gc_j {
  0% { top:200px; left:200px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:200px; left: 99%; color:rgba(0,0,0,0.5);}
  100% { top:200px; left: 99%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_j {
  0% { top:200px; left:200px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:200px; left: 99%; color:rgba(0,0,0,0.5);}
  100% { top:200px; left: 99%; color:rgba(0,0,0,0);}
}

/* profiles */

.stats, .user-statistics, .profile_user_name, .profile-bio {
  text-align: center;
}

.posts-wrapper img, .posts-wrapper h3 {
  display: flex;
  align-items: center;
}

.profile-header {
  padding: 20px 0;
}



.user-name-and-follow {
  display: inline;
}

.posts-wrapper {
  display: inline;
  text-align: right;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}



.index-profile-image {
  float:left;
  margin-top:7px;
  height: 43px;
  width: 43px;
  padding:0;
  border-bottom: none !important;
}

.show-profile-image {
  float:left;
  position:relative;
  top:-3px;
  margin-top:7px;
  margin-right: 4px;
  height: 37px;
  width: 37px;
  padding:0;
  border-bottom: none !important;
}

/* time ago */

.time_ago {
  font-size: 11px;
}

/* likes */



.voter_names {
  font-size:11px;
}

.post_vote_machine {
  position: relative;
  left:15px;
}

/* notifications */

.notification-dropdown {
  margin-top: 10px;
  button {
    border: none;
  }
}


ul.dropdown-menu {
  word-wrap: break-word;
.notif_image {
  display: inline-block;
  word-wrap: break-word !important;

  position: relative;
  left:10px;
}

.notif_text {
  position: relative;
  left:14px;
  top:-18px;
}
li {
  display:inline-block;
  width:350px;

}

a {
  color:#222 !important;
}
}

.nav_space {
  margin-left:200px;
}

/* following */

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

.follower-block {
  background:red;
  display: inline-block;
}


