/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* general */

body {
  background:#EEE;
  color:#444;
}

li {
  list-style-type: none;

}
/* links */

.nav a {
  color: white !important;
  &:hover {
    color: #DDD !important;
    background: none;
    text-decoration: none;
  }
}

a {
  color:#0059b3;
  &:hover {
    color:#004080 !important;
    background: none;
    text-decoration: none;
  }
  &:visited {
    color:#0059b3;
  }
}

.commenter_name a, .voter_names a, .reply_button, .post_info a, .poster_name a {
  &:hover {
    text-decoration: underline;
  }
}

abbr {
  display:none;
}


.well, .post_info {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}
.well:hover, .post_info:hover {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.6);
}

.glyphicon-remove {
  display:inline;
  color:#C00000;
  &:hover {
    color:#800000;
  }
}

.comment_format {
  padding-left:48px;
  color:#444;
  font-size: 15px;
  width:800px;
  margin:0 auto;
}





.new_post_format {
  padding-left:48px;
  color:#444;
  font-size: 15px;
  width:600px;
  margin:0 auto;
}

.new_post_grey {
  color:#808080;
}
.post_title {
  color:black;
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 0;
}

.comments {
  display: inline-block;
  word-wrap: break-word;
  max-width: 700px;
}

.commenter_name {
  display: inline;
  max-width: 700px;
  width:700px;
  word-wrap: break-word;
}

textarea#comment_content {
  max-width:100%;
  margin-right:3px;
}
#comment_content, #post_commentary {
  font-size:15px;
  min-height:150px;
}
#comment_content input[type=text]:focus {
    background-color: lightblue;
}

#response_content {
  width:700px;
  max-width:700px;
}

#new_response, #new_comment {
  margin: 0;
  input.btn {
  position: relative;
  top:-10px;
}
}



.btn {
  font-size: 15px;
}

h6 {
  margin:0;
  font-weight: none;
}

.small_font {
  font-size: 10px;
}

hr {
  margin:7px;
}

/* format index posts */


*, *:before, *:after {box-sizing:  border-box !important;}


 .organize_rows {
  margin-top: 5px;
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 0;
 -webkit-column-gap:0;
}

.item {
 display: inline-block;
 padding:  .25rem 0.25rem 0 0.25rem;
 width:  100%;
 max-width:98%;
 word-wrap: break-word;
}

.well {
  background: #FDFDFD;
 padding:3px 10px 15px;
 position:relative;
 display: block;
 border-radius: 0;
 border:0;
 img {
  padding:5px 3px;
  border-bottom:1px solid #DDD;
  margin-bottom: 10px;
  max-width: 255px;
 }
}

.signed_out_names {
  word-break: keep-all;
  position:relative;
  top:3px;

  display:inline-block;
  font-weight: bold;
  color:#004d99;

}

.index_name {
  word-break: keep-all;
  position:relative;
  top:9px;

  display:inline-block;
  font-weight: bold;
  color:#004d99;
}

.well .signed_out_names {
  max-width: 205px;
}

.well h3 {
  margin-top: 0;
  margin-bottom: 0;
}



/* format show posts */

.post_info {
  padding:10px;
  margin-left: 5px;
  display: inline-block;
  background:white;

}

li.show_name a {
  color:black;
  position: relative;
  top:10px;
  left:5px;
}



/* navigation bar */




.nav {
  background: #0099cc;
  color:white;
  padding:5px 10px 5px;
  position:fixed;
  width:100%;
  display: inline-block;
  z-index: 1;
}

.nav_elements {
  position:relative;
  float:right;
  a {
    margin-top:20px;
  }

}

form#search-form {
  color:black;
  float:left;
  margin:0 30px 0 0;
}

input {
  color:black;
  background: white;
  border-radius: 3px;
  border:3px solid white;
}
input#search {
  width:300px;

}

.popular_posts {
  background-color: #EEE;
  width:80%;
  position:fixed;
  top:44px;
  padding: 1px 1px 1px 3px;
  z-index: 3;
}

span.login_or_sign_up_to {
  position:relative;
  top:3px;
}

.btn-danger {
  top:-2px;
}

button article {
  color:red;
  background: white;
  border-radius: 10px;
  padding:0 3px;
  position:relative;
  left:15px;
  bottom:-10px;
  z-index: 10;
}
.btn-danger, .new_post {
  position: relative;
  background: none;
  border:none;
  font-size: 15px;
}

button.dropdown-toggle {
  background: none;
}

/* sign up form */
.create_your_account {
  text-align: center;
  z-index: 2;
}

.signup_reasons * {
  font-size: 15px;
}

.signup_reasons li h5 {
  word-spacing:-8px;
}

.input-group-btn {
  display: inline-block;
}

/* small thing */

.glyphicon-globe {
  position: absolute;
  top:-8px;
  left:0;
  font-size: 30px;
}

.back_button {
  margin-left: 5px;
}

.glyphicon-home {
  font-size: 20px;
  position: relative;
  top:5px;
  margin-right: 20px;
}

.panel-body, .panel_body, input.form-control {
  font-size:15px;
}

.col-md-4 {
  padding-top: 10px;
  background:rgba(255,255,255,0.3);
}

div.well img {
  position:relative;
}

.sign_up_underline {
  text-decoration: underline;
}

.glyphicon-share-alt {
  font-size: 20px;
  margin: 5px 0 5px 5px;
  transform: scaleX(-1);
}

.alert-info, .alert-warning {
  position:absolute;
  z-index: 4;
  left:300px;
  top:50px;
}

.nav_decoy {
  height:35px;
  width:100%;
}

input#user_avatar {
  background: none;
  border:none;
}



/* registration page */

.registration-bg {

background: none;
height:100%;
}

@mixin moving_comment {
  font-size:30px;
  position:absolute;
  animation-duration: 250s;
  -webkit-animation-duration:250s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow:hidden;
}

@mixin moving_comment_2 {
  font-size:27px;
  position:absolute;
  animation-duration: 320s;
  -webkit-animation-duration:320s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow: hidden;
}

@mixin moving_comment_3 {
  font-size:27px;
  position:absolute;
  animation-duration: 310s;
  -webkit-animation-duration:310s;
  animation-delay: 30s;
  -webkit-animation-delay:30s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow: hidden;
}

.glyphicon-comment-11 {
  @include moving_comment_3;
  animation-name:gc_k;
  -webkit-animation-name: gc_k;
}

@keyframes gc_k {
  0% { top:93px; right:15%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:93px; right: 90%; color:rgba(255,153,0,0.7);}
  100% { top:93px; right: 90%; color:rgba(255,153,0,0.7);}
}

@-webkit-keyframes gc_k {
  0% { top:93px; right:15%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:93px; right: 90%; color:rgba(255,153,0,0.7);}
  100% { top:93px; right: 90%; color:rgba(255,153,0,0.7);}
}

.glyphicon-comment-12 {
  @include moving_comment_3;
  animation-name:gc_l;
  -webkit-animation-name: gc_l;
}

@keyframes gc_l {
  0% { top:200px; right:25%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:200px; right: 100%; color:rgba(255,153,0,0.7);}
  100% { top:200px; right: 100%; color:rgba(255,153,0,0.7);}
}

@-webkit-keyframes gc_l {
  0% { top:200px; right:25%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:200px; right: 100%; color:rgba(255,153,0,0.7);}
  100% { top:200px; right: 100%; color:rgba(255,153,0,0.7);}
}

.glyphicon-comment-13 {
  @include moving_comment_3;
  animation-name:gc_m;
  -webkit-animation-name: gc_m;
}

@keyframes gc_m {
  0% { top:240px; right:7%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:240px; right: 83%; color:rgba(255,153,0,0.7);}
  100% { top:240px; right: 83%; color:rgba(255,153,0,0.7);}
}

@-webkit-keyframes gc_m {
  0% { top:240px; right:7%; color:rgba(255,153,0,0); }
  5% {color:rgba(255,153,0,0.6);}
  99% { top:240px; right: 83%; color:rgba(255,153,0,0.7);}
  100% { top:240px; right: 83%; color:rgba(255,153,0,0.7);}
}

.glyphicon-comment-1 {
  @include moving_comment;
  animation-name: gc_a;
  -webkit-animation-name: gc_a;
}

@keyframes gc_a {
  0% { top:70px; right:15%; color:rgba(255,255,255,0); }
  5% {color:rgba(255,255,255,0.6);}
  99% { top:70px; right: 90%; color:rgba(255,255,255,0.7);}
  100% { top:70px; right: 90%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_a {
  0% { top:70px; right:15%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:70px; right: 90%; color:rgba(255,255,255,0.7);}
  100% { top:70px; right: 90%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-2 {
  @include moving_comment;
  animation-name: gc_b;
  -webkit-animation-name: gc_b;
}

@keyframes gc_b {
  0% { top:100px; right:7%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:100px; right:82%; color:rgba(255,255,255,0.7);}
  100% { top:100px; right:82%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_b {
  0% { top:100px; right:7%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:100px; right: 82%; color:rgba(255,255,255,0.7);}
  100% { top:100px; right: 82%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-3 {
  @include moving_comment;
  animation-name: gc_c;
  -webkit-animation-name: gc_c;
}

@keyframes gc_c {
  0% { top:150px; right:20%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:150px; right: 100%; color:rgba(255,255,255,0.7);}
  100% { top:150px; right: 100%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_c {
  0% { top:150px; right:20%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:150px; right: 100%; color:rgba(255,255,255,0.7);}
  100% { top:150px; right: 100%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-4 {
  @include moving_comment;
  animation-name: gc_d;
  -webkit-animation-name: gc_d;
}

@keyframes gc_d {
  0% { top:180px; right:8%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:180px; right: 95%; color:rgba(255,255,255,0.7);}
  100% { top:180px; right: 95%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_d {
  0% { top:180px; right:8%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:180px; right: 95%; color:rgba(255,255,255,0.7);}
  100% { top:180px; right: 95%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-5 {
  @include moving_comment;
  animation-name: gc_e;
  -webkit-animation-name: gc_e;
}

@keyframes gc_e {
  0% { top:220px; right:2%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:220px; right: 110%; color:rgba(255,255,255,0.7);}
  100% { top:220px; right: 110%; color:rgba(255,255,255,0);}
}

@-webkit-keyframes gc_e {
  0% { top:220px; right:2%; color:rgba(255,255,255,0);}
  5% {color:rgba(255,255,255,0.6);}
  99% { top:220px; right: 110%; color:rgba(255,255,255,0.7);}
  100% { top:220px; right: 110%; color:rgba(255,255,255,0);}
}

.glyphicon-comment-6 {
  @include moving_comment_2;
  animation-name: gc_f;
  -webkit-animation-name: gc_f;
}

@keyframes gc_f {
  0% { top:70px; left:50px; color:rgba(0,0,0,0); }
  5% {color:rgba(0,0,0,0.5);}
  99% { top:70px; left: 78%; color:rgba(0,0,0,0.5);}
  100% { top:70px; left: 78%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_f {
  0% { top:70px; left:50px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:70px; left: 78%; color:rgba(0,0,0,0.5);}
  100% { top:70px; left: 78%; color:rgba(0,0,0,0);}
}

.glyphicon-comment-7 {
  @include moving_comment_2;
  animation-name: gc_g;
  -webkit-animation-name: gc_g;
}

@keyframes gc_g {
  0% { top:100px; left:300px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:100px; left:93%; color:rgba(0,0,0,0.5);}
  100% { top:100px; left:93%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_g {
  0% { top:100px; left:300px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:100px; left: 93%; color:rgba(0,0,0,0.5);}
  100% { top:100px; left: 93%; color:rgba(0,0,0,0);}
}

.glyphicon-comment-8 {
  @include moving_comment_2;
  animation-name: gc_h;
  -webkit-animation-name: gc_h;
}

@keyframes gc_h {
  0% { top:150px; left:-20px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:150px; left: 70%; color:rgba(0,0,0,0.5);}
  100% { top:150px; left: 70%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_h {
  0% { top:150px; left:-20px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:150px; left: 70%; color:rgba(0,0,0,0.5);}
  100% { top:150px; left: 70%; color:rgba(0,0,0,0);}
}

.glyphicon-comment-9 {
  @include moving_comment_2;
  animation-name: gc_i;
  -webkit-animation-name: gc_i;
}

@keyframes gc_i {
  0% { top:180px; left:100px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:180px; left: 85%; color:rgba(0,0,0,0.5);}
  100% { top:180px; left: 85%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_i {
  0% { top:180px; left:100px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:180px; left: 85%; color:rgba(0,0,0,0.5);}
  100% { top:180px; left: 85%; color:rgba(0,0,0,0);}
}

.glyphicon-comment-10 {
  @include moving_comment_2;
  animation-name: gc_j;
  -webkit-animation-name: gc_j;
}

@keyframes gc_j {
  0% { top:200px; left:200px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:200px; left: 99%; color:rgba(0,0,0,0.5);}
  100% { top:200px; left: 99%; color:rgba(0,0,0,0);}
}

@-webkit-keyframes gc_j {
  0% { top:200px; left:200px; color:rgba(0,0,0,0);}
  5% {color:rgba(0,0,0,0.5);}
  99% { top:200px; left: 99%; color:rgba(0,0,0,0.5);}
  100% { top:200px; left: 99%; color:rgba(0,0,0,0);}
}

.row .col-md-4 .panel-body span {
  cursor: pointer;
  color:#0059b3;
}
/* profiles */

.stats, .user-statistics, .profile_user_name, .profile-bio {
  text-align: center;
}

.profile_user_name {

}

.posts-wrapper img, .posts-wrapper h3 {
  display: flex;
  align-items: center;
}

.profile-header {
  padding: 20px 0;
}



.user-name-and-follow {
  display: inline;
}

.posts-wrapper {
  display: inline;
  text-align: right;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}

#edit_profile {
  text-align: center;
}

textarea#user_bio {
  width:250px;
  margin:0 auto;
}

.index-profile-image {
  float:left;

  margin-right: 3px;
  height: 43px;
  width: 43px;
  padding:0;
  border-bottom: none !important;
}

.show-profile-image {
  float:left;
  position:relative;
  top:-3px;
  margin-top:0;
  margin-right: 4px;
  height: 37px;
  width: 37px;
  padding:0;
  border-bottom: none !important;
}

.reply-profile-image {
  float:left;
  position:relative;
  top:3px;
  margin: 0 4px 4px 0;
  height: 20  px;
  width: 20px;
  padding:0;
  border-bottom: none !important;
}

.comment-profile-image {
  float:left;
  position:relative;
  top:3px;
  margin-top:0;
  margin-right: 4px;
  height: 31px;
  width: 31px;
  padding:0;
  border-bottom: none !important;
}

/* time ago */

.time_ago {
  font-size: 11px;
}

/* likes */



.voter_names {
  font-size:11px;
}

.post_vote_machine {
  position: relative;
  left:15px;
}
.glyphicon-thumbs-up, .glyphicon-thumbs-down {
  color:grey;
}
.glyphicon-selected {
  color: #007399;
}


/* notifications */

.notification-dropdown {
  margin-top: 10px;
  button {
    border: none;
  }
}


ul.dropdown-menu {


.notif_image {
  display: inline-block;
  word-wrap: break-word !important;

  position: relative;
  top:14px;
}



#notification_details {
    position:relative;
  left:10px;
  top:-30px;
}
}

.nav_space {
  margin-left:200px;
}

#notif_dropdown {
    position: absolute;
  left:-295px;
  top:25px;
  width:350px;
}

#comment_dropdown {
  max-width: 600px;
  word-wrap: break-word;
}

ul.dropdown-menu#account_dropdown {
min-width:100px !important;
a {
  padding-right: 0;
}
}



/* following */

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}


.comment_format input.btn {
  font-size:12px;
  padding:1px 5px;
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

.follower-block {
  display: inline-block;
}

li.follower_block_text {
  display: inline-block;
  position: relative;
  top:10px;
}

#follow_form {
  display: inline-block;
  height:25px;
}

#post_follow_form {
  font-size: 10px;
  color:green;
}


.profile_follow_form {
  text-align: center;
}

/* replies */

.responses {
  max-width: 647px;
}

.reply_container {
  padding-top: 0;
  margin-left: 28px;
  margin-top: 7px;
  border-left: 3px solid #CCC;

}

.reply_button {
  color:#0059b3 !important;
  position:relative;
  left:15px;
  cursor: pointer;
  display: block;
  font-size:13px;
  color: #555;
  margin-bottom: 8px;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

.signed_out_reply_line {
  height:3px;
  width:70px;
  margin-top: 7px;
  margin-bottom: 7px;
  background: #CCC;
}

.signed_in_reply_line {
  height:3px;
  width:100px;
  margin-bottom: 7px;
  background: #ccc;
}

#reply_form {
  background: rgba(255,255,255,0.9);
  padding:10px;
}

.show_follow_xhr {
  display: inline-block;
  height:25px;
}
