/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require bootsy
 *= require_tree .
 *= require_self

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-social";
 @import 'font-awesome';
/* general */

body {
  background:#EEE;
  color:#444;
}

li {
  list-style-type: none;

}
/* links */

.nav a {
  color: white !important;
  &:hover {
    color: #DDD !important;
    background: none;
    text-decoration: none;
  }
}

a {
  color:#0059b3;
  &:hover {
    color:#004080 !important;
    background: none;
    text-decoration: none;
  }
  &:visited {
    color:#0059b3;
  }
  &:selected {
    background: none;
  }
}

.commenter_name a, .voter_names a, .reply_button, .post_info a, .poster_name a {
  &:hover {
    text-decoration: underline;
  }
}

abbr {
  display:none;
}


.well, .post_info {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}
.well:hover, .post_info:hover {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.6);
}

.glyphicon-remove {
  display:inline;
  color:#C00000;
  &:hover {
    color:#800000;
  }
}

.comment_format {
  background: white;
  padding-left:48px;
  color:#444;
  font-size: 15px;
  max-width:800px;
  margin:0 auto;
  .small_font {
    position: relative;
    top:-30px;
    left:50px;
  }
  h1, h2, h3 {
    margin-top: 0;
  }


}

.all_show.container {
  width:800px;
  background: white;
  height: 100%;
}

.comment_format #follow_form {
  position: relative;
  top:-15px;
}




.new_post_format {
  padding-left:48px;
  color:#444;
  font-size: 15px;
  max-width:800px;
  margin:0 auto;
}

.new_post_grey {
  color:#808080;
}
.post_title {
  color:black;
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 0;
}

.comments {
  display: inline-block;
  word-wrap: break-word;
  max-width: 800px;
}

.commenter_name {
  display: inline;
  max-width: 800px;
  width:800px;
  word-wrap: break-word;
}

textarea#comment_content {
  max-width: 600px;
  margin-right:3px;
}
#comment_content, #post_commentary {
  font-size:15px;
  min-height:150px;
}
#comment_content input[type=text]:focus {
    background-color: lightblue;
}


#response_content {
  width:550px;
}

#new_response, #new_comment {
  margin: 0;
  input.btn {
  position: relative;
  top:-10px;
}
}

.index_post_link {
  position: relative;
  top:4px;
  color:grey;
}

.btn {
  font-size: 15px;
}

h6 {
  margin:0;
  font-weight: none;
}

.small_font {
  font-size: 10px;
  display: inline;
}

hr {
  margin:7px;
  border-top: 1px solid #DDD;
}



iframe {
  min-height:300px;
  margin:0 !important;
  .bootsy_text_area {
  width:700px;

  margin:0;
  padding:1px;
  overflow: hidden;
}
}

button {
  color:#888;
  border-radius: 10px;
  border:1px solid #CCC;
  background: #e6ffff;
}


/* format index posts */


*, *:before, *:after {box-sizing:  border-box !important;}


 .organize_rows {
  margin-top: 5px;
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 0;
 -webkit-column-gap:0;
}

.item {
 display: inline-block;
 padding:  .25rem 0.25rem 0 0.25rem;
 width:  100%;
 max-width:98%;
 word-wrap: break-word;
}

.well {
  background: #FDFDFD;
 padding:3px 10px 15px;
 position:relative;
 display: block;
 border-radius: 0;
 border:0;

 h1, h2, h3 {
  margin:0 0 6px 0;
 }
 img {
  max-width: 255px;
  z-index: 0;
 }

.post_image img {
  min-width: 180px;
}
 .img_wrap {
  display: inline-block;
  margin-top: 5px;
 }

 a {
  color:black;

 }

 .small_font a {
  word-break: break-all;
 }




  .index_name {
  display: block;
  left:63px;
  top:7px;
 }

.index_time_ago {
  font-size: 10px;
  position: relative;
  top:-15px;
}

.first_comment_format .small_font {
  font-size: 12px !important;
}


}

.signed_out_names {
  position:relative;
  top:-28px;

  display:inline;
  font-weight: bold;
}

.show_signed_in_name {
  position:relative;
  top:-28px;
  display:inline;
  font-weight: bold;
}

.show_post_link {
  font-size: 12px;
}

.show_divider {
  max-width: 300px;
  margin:20px 60px 10px 200px;
}


.well .signed_out_names {
  max-width: 205px;
}

.well h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.index_bio_capsule {
  position: absolute;
  display: block;
  top:5px;
  margin-left:0;
}

#all_posts {
  display:block;
  text-align: center;
}


/* format show posts */

.fa-facebook {
  color: #ebeef4 !important;
  position: relative;
  right:23px;
  top:1px;
  &:hover {
    color:#ebeef4 !important;
  }
}
.btn-facebook, .btn-twitter {
  border-radius: 50%;
  width:30px;
  height:30px;
}
.btn-twitter {
  position: relative;
  right:13px;
}

.show_tag_divider {
  height:7px;
}

.first_comment_format {
  max-width: 630px;
}



.post_head {
  padding-top: 20px;
  *:not(.post_info) {
    margin-bottom: 0;
  }
  input.btn {
    border:1px solid grey;
  }
}

#votes_up_down {
  padding-top: 5px;
  padding-bottom: 20px;
}
.post_info {
  padding:10px;
  margin-left: 5px;
  display: inline-block;
  background:white;

}

li.show_name a {
  color:black;
  position: relative;
  top:10px;
  left:5px;
}

.first_comment_format p, .first_comment_format .time_ago {
  margin-bottom: 0;
  max-width: 400px;
  display: inline;
}

.first_comment_format p {
  position: relative;
  top:-4px;
}

.responses p, .responses .time_ago {
  margin-left: 25px;
  margin-bottom: 0;
  max-width: 400px;
}

.poster_name {
  display: block;
}

.show_time_ago {
  display: inline;
  font-size: 9px;
  margin-left:16px;
}


.response_time_ago {
  display: inline;
  color:grey;
  font-size: 10px;
  position: relative;
  top:-4px;
}

.comment_format .btn-primary {
  float:left;
}

.comment_user_name {
  position: relative;
  top:-12px;
}

.comment_time_ago {
  color:grey;
  font-size: 10px;
  position: relative;
  top:-3px;
}

.response_user_name {
  position: relative;
  top:-10px;
}

input#post_image {
  background: none;
  border:none;
}



/* learn more */



.learn {
  background: white;
  height:100%;
}

/* navigation bar */

li.dropdown-header {

  color:black;
  font-weight: bold;
}

.each_notif_hr {
  padding-bottom: 5px;
}

.notifications-dropdown-menu {

  padding-top: 4px;
  width:400px;
  a {
    font-size: 12px;
  }
  hr {
    margin:4px 0;
  }
}
.notifications_count {
  font-size: 12px;
  background: #C00000;
  color:white;
  position: relative;
  top:25px;
  left:46px;
  padding:0 2px;
  border-radius: 3px;
  z-index: 2;
}

nav .form-group {
  height:20px;
}

.login_or_signup_to {
  position: relative;
  right: 10px;
  top:17px;
}
.glyphicon-cloud {
  color: white;
  font-size: 12px;
  position: absolute;
  top:10px;
  left:65px;
}


.navbar-brand {
  color: white !important;
  &:hover {
    color: white !important;
  }
}
.navbar-collapse {
  background: #0099cc;
  border-bottom:0.7px solid #004080;
  color: white;
}

.dropdown-menu  {
  background: white !important;
}

.navbar-header {
  background: #0099cc;
  border-bottom:0.7px solid #004080;
  color: white;
}

.navbar-default {
  position: fixed;
  width:100%;
  z-index: 2;
  border:none;
}

input#search {
  width:400px;
  border-radius: 3px 0 0 3px;
}

nav button[type='submit'] {
  border-radius: 0 3px 3px 0;
  background: #EEE;
}

.nav .open .dropdown-toggle {
  background: #007399 !important;
}



/* sign up form */
.create_your_account {
  text-align: center;
  z-index: 2;
}

.signup_reasons * {
  font-size: 15px;
}

.signup_reasons li h5 {
  word-spacing:-8px;
}

.input-group-btn {
  display: inline-block;
}

.navbar_left {
  position: relative;
  top:3px;
  margin-right: 15px;
}


/* small thing */

.notif_dropdown {
  padding:10px !important;
}

.glyphicon-globe {
  margin-top: 0;
  font-size: 30px;
}

.back_button {
  margin-left: 5px;
}

.glyphicon-home {
  font-size: 20px;
  position: relative;
  top:5px;
  margin-right: 20px;
}

.panel-body, .panel_body, input.form-control {
  font-size:15px;
}

.col-md-4 {
  padding-top: 10px;
  background:rgba(255,255,255,0.3);
}

div.well img {
  position:relative;
}

.sign_up_underline {
  text-decoration: underline;
}

.glyphicon-share-alt {
  font-size: 20px;
  margin: 5px 0 5px 5px;
  transform: scaleX(-1);
}

.alert-info, .alert-warning {
  position:absolute;
  z-index: 4;
  left:300px;
  top:50px;
}

.nav_decoy {
  height:35px;
  width:100%;
}

input#user_avatar {
  background: none;
  border:none;
}



/* registration page */


.devise_forms {
  max-width: 600px;
}

.registration-bg {

background: none;
height:100%;
}

@mixin moving_comment {
  font-size:30px;
  position:absolute;
  animation-duration: 250s;
  -webkit-animation-duration:250s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow:hidden;
}

@mixin moving_comment_2 {
  font-size:27px;
  position:absolute;
  animation-duration: 320s;
  -webkit-animation-duration:320s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow: hidden;
}

@mixin moving_comment_3 {
  font-size:27px;
  position:absolute;
  animation-duration: 310s;
  -webkit-animation-duration:310s;
  animation-delay: 30s;
  -webkit-animation-delay:30s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count:infinite;
  overflow: hidden;

}

.glyphicon-comment-11 {
  @include moving_comment_3;
  animation-name:gc_k;
  -webkit-animation-name: gc_k;
}

@keyframes gc_k {
  0% { top:93px; right:15%; color:rgba(102, 204, 255,0); }
  5% {color:rgba(102, 204, 255,0.6);}
  99% { top:93px; right: 90%; color:rgba(102, 204, 255,0.7);}
  100% { top:93px; right: 90%; color:rgba(102, 204, 255,0.7);}
}

@-webkit-keyframes gc_k {
  0% { top:93px; right:15%; color:rgba(102, 204, 255,0); }
  5% {color:rgba(102, 204, 255,0.6);}
  99% { top:93px; right: 90%; color:rgba(102, 204, 255,0.7);}
  100% { top:93px; right: 90%; color:rgba(102, 204, 255,0.7);}
}

.glyphicon-comment-12 {
  @include moving_comment_3;
  animation-name:gc_l;
  -webkit-animation-name: gc_l;
}

@keyframes gc_l {
  0% { top:200px; right:25%; color:rgba(102, 204, 255,0); }
  5% {color:rgba(102, 204, 255,0.6);}
  99% { top:200px; right: 100%; color:rgba(102, 204, 255,0.7);}
  100% { top:200px; right: 100%; color:rgba(102, 204, 255,0.7);}
}

@-webkit-keyframes gc_l {
  0% { top:200px; right:25%; color:rgba(102, 204, 255,0); }
  5% {color:rgba(102, 204, 255,0.6);}
  99% { top:200px; right: 100%; color:rgba(102, 204, 255,0.7);}
  100% { top:200px; right: 100%; color:rgba(102, 204, 255,0.7);}
}

.glyphicon-comment-13 {
  @include moving_comment_3;
  animation-name:gc_m;
  -webkit-animation-name: gc_m;
}

@keyframes gc_m {
  0% { top:240px; right:7%; color:rgba(102, 204, 255,0); }
  5% {color:rgba(102, 204, 255,0.6);}
  99% { top:240px; right: 83%; color:rgba(102, 204, 255,0.7);}
  100% { top:240px; right: 83%; color:rgba(102, 204, 255,0.7);}
}

@-webkit-keyframes gc_m {
  0% { top:240px; right:7%; color:rgba(102, 204, 255,0); }
  5% {color:rgba(102, 204, 255,0.6);}
  99% { top:240px; right: 83%; color:rgba(102, 204, 255,0.7);}
  100% { top:240px; right: 83%; color:rgba(102, 204, 255,0.7);}
}

.glyphicon-comment-1 {
  @include moving_comment;
  animation-name: gc_a;
  -webkit-animation-name: gc_a;
}

@keyframes gc_a {
  0% { top:70px; right:15%; color:rgba(255, 255, 255,0); }
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:70px; right: 90%; color:rgba(255, 255, 255,0.7);}
  100% { top:70px; right: 90%; color:rgba(255, 255, 255,0);}
}

@-webkit-keyframes gc_a {
  0% { top:70px; right:15%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:70px; right: 90%; color:rgba(255, 255, 255,0.7);}
  100% { top:70px; right: 90%; color:rgba(255, 255, 255,0);}
}

.glyphicon-comment-2 {
  @include moving_comment;
  animation-name: gc_b;
  -webkit-animation-name: gc_b;
}

@keyframes gc_b {
  0% { top:100px; right:7%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:100px; right:82%; color:rgba(255, 255, 255,0.7);}
  100% { top:100px; right:82%; color:rgba(255, 255, 255,0);}
}

@-webkit-keyframes gc_b {
  0% { top:100px; right:7%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:100px; right: 82%; color:rgba(255, 255, 255,0.7);}
  100% { top:100px; right: 82%; color:rgba(255, 255, 255,0);}
}

.glyphicon-comment-3 {
  @include moving_comment;
  animation-name: gc_c;
  -webkit-animation-name: gc_c;
}

@keyframes gc_c {
  0% { top:150px; right:20%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:150px; right: 100%; color:rgba(255, 255, 255,0.7);}
  100% { top:150px; right: 100%; color:rgba(255, 255, 255,0);}
}

@-webkit-keyframes gc_c {
  0% { top:150px; right:20%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:150px; right: 100%; color:rgba(255, 255, 255,0.7);}
  100% { top:150px; right: 100%; color:rgba(255, 255, 255,0);}
}

.glyphicon-comment-4 {
  @include moving_comment;
  animation-name: gc_d;
  -webkit-animation-name: gc_d;
}

@keyframes gc_d {
  0% { top:180px; right:8%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:180px; right: 95%; color:rgba(255, 255, 255,0.7);}
  100% { top:180px; right: 95%; color:rgba(255, 255, 255,0);}
}

@-webkit-keyframes gc_d {
  0% { top:180px; right:8%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:180px; right: 95%; color:rgba(255, 255, 255,0.7);}
  100% { top:180px; right: 95%; color:rgba(255, 255, 255,0);}
}

.glyphicon-comment-5 {
  @include moving_comment;
  animation-name: gc_e;
  -webkit-animation-name: gc_e;
}

@keyframes gc_e {
  0% { top:220px; right:2%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:220px; right: 110%; color:rgba(255, 255, 255,0.7);}
  100% { top:220px; right: 110%; color:rgba(255, 255, 255,0);}
}

@-webkit-keyframes gc_e {
  0% { top:220px; right:2%; color:rgba(255, 255, 255,0);}
  5% {color:rgba(255, 255, 255,0.6);}
  99% { top:220px; right: 110%; color:rgba(255, 255, 255,0.7);}
  100% { top:220px; right: 110%; color:rgba(255, 255, 255,0);}
}

.glyphicon-comment-6 {
  @include moving_comment_2;
  animation-name: gc_f;
  -webkit-animation-name: gc_f;
}

@keyframes gc_f {
  0% { top:70px; left:50px; color:rgba(102, 102, 102,0); }
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:70px; left: 78%; color:rgba(102, 102, 102,0.5);}
  100% { top:70px; left: 78%; color:rgba(102, 102, 102,0);}
}

@-webkit-keyframes gc_f {
  0% { top:70px; left:50px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:70px; left: 78%; color:rgba(102, 102, 102,0.5);}
  100% { top:70px; left: 78%; color:rgba(102, 102, 102,0);}
}

.glyphicon-comment-7 {
  @include moving_comment_2;
  animation-name: gc_g;
  -webkit-animation-name: gc_g;
}

@keyframes gc_g {
  0% { top:100px; left:300px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:100px; left:93%; color:rgba(102, 102, 102,0.5);}
  100% { top:100px; left:93%; color:rgba(102, 102, 102,0);}
}

@-webkit-keyframes gc_g {
  0% { top:100px; left:300px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:100px; left: 93%; color:rgba(102, 102, 102,0.5);}
  100% { top:100px; left: 93%; color:rgba(102, 102, 102,0);}
}

.glyphicon-comment-8 {
  @include moving_comment_2;
  animation-name: gc_h;
  -webkit-animation-name: gc_h;
}

@keyframes gc_h {
  0% { top:150px; left:-20px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:150px; left: 70%; color:rgba(102, 102, 102,0.5);}
  100% { top:150px; left: 70%; color:rgba(102, 102, 102,0);}
}

@-webkit-keyframes gc_h {
  0% { top:150px; left:-20px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:150px; left: 70%; color:rgba(102, 102, 102,0.5);}
  100% { top:150px; left: 70%; color:rgba(102, 102, 102,0);}
}

.glyphicon-comment-9 {
  @include moving_comment_2;
  animation-name: gc_i;
  -webkit-animation-name: gc_i;
}

@keyframes gc_i {
  0% { top:180px; left:100px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:180px; left: 85%; color:rgba(102, 102, 102,0.5);}
  100% { top:180px; left: 85%; color:rgba(102, 102, 102,0);}
}

@-webkit-keyframes gc_i {
  0% { top:180px; left:100px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:180px; left: 85%; color:rgba(102, 102, 102,0.5);}
  100% { top:180px; left: 85%; color:rgba(102, 102, 102,0);}
}

.glyphicon-comment-10 {
  @include moving_comment_2;
  animation-name: gc_j;
  -webkit-animation-name: gc_j;
}

@keyframes gc_j {
  0% { top:200px; left:200px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:200px; left: 99%; color:rgba(102, 102, 102,0.5);}
  100% { top:200px; left: 99%; color:rgba(102, 102, 102,0);}
}

@-webkit-keyframes gc_j {
  0% { top:200px; left:200px; color:rgba(102, 102, 102,0);}
  5% {color:rgba(102, 102, 102,0.5);}
  99% { top:200px; left: 99%; color:rgba(102, 102, 102,0.5);}
  100% { top:200px; left: 99%; color:rgba(102, 102, 102,0);}
}

.row .col-md-4 .panel-body span {
  cursor: pointer;
  color:#0059b3;
}
/* profiles */

.stats, .user-statistics, .profile_user_name, .profile-bio {
  text-align: center;
}

.profile-bio {
  max-width: 600px;
}

.profile_user_name {

}

.posts-wrapper img, .posts-wrapper h3 {
  display: flex;
  align-items: center;
}

.profile-header {
  padding: 20px 0;
}



.user-name-and-follow {
  display: inline;
}

.posts-wrapper {
  display: inline;
  text-align: right;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 10px;
}

.profile_container * {
  text-align: left;
}




.follow_25 {
  display: inline-block;
  border:2px solid #cfcbf0;
  border-radius: 2px;
  margin-bottom: 2px;
}

.follow_0 {
  display: inline-block;
  border:2px solid rgba(0,0,0,0);
  border-radius: 2px;
  margin-bottom: 2px;
}

.index-profile-image {

  float:left;
  height: 43px;
  width: 43px;
  padding:0;
}

.show-profile-image {
  float:left;
  position:relative;
  top:-3px;
  margin-top:0;
  margin-right: 4px;
  height: 37px;
  width: 37px;
  padding:0;
  border-bottom: none !important;
}

.reply-profile-image {
  float:left;
  margin: 0;
  height: 25px;
  width: 25px;
  padding:0;
  border-bottom: none !important;
}

.comment-profile-image {
  float:left;
  margin:0;
  height: 31px;
  width: 31px;
  padding:0;
  border-bottom: none !important;
}

.profile-image {
  margin: 0;
  float: left;
}

.profile_basic_content {
  display: inline-block;
  position: relative;
  left: 10px;
  top:-30px;
}

.following_list {
  background: white;
  display: inline-block;
  padding:5px 8px;
  border-radius: 4px;

  strong {
    padding:0;
  }
}

.follower_block_text {
  margin-left: 5px;
}

/* edit profile */

#user_avatar {
  float:left;
}

.edit_profile_page img{
  float:none;

}

#user_occupation {
  width:150px;
}

#user_bio {
  width:500px;
}
/* likes */



.voter_names {
  font-size:11px;
}

.post_vote_machine {
  position: relative;
  left:15px;
}
.glyphicon-thumbs-up, .glyphicon-thumbs-down {
  color:grey;
}
.glyphicon-selected {
  color: #007399;
}


/* notifications */

button article {
  color:#0099cc;
  background: white;
  border-radius: 10px;
  padding:0 3px;
  position:relative;
  left:15px;
  bottom:-10px;
  z-index: 10;
}

.notification-dropdown {
  position:absolute;
  top:6px;
  button {
    border: none;
  }
}


ul.dropdown-menu {

  a {
    color:black !important;
  }





#notification_details {
    position:relative;
  left:10px;
  top:-30px;
}
}

.nav_space {
  margin-left:200px;
}

#notif_dropdown {
    position: absolute;
  left:-295px;
  top:25px;
  width:350px;
  a {
    color:black !important;
    margin:0;
  }
}

#comment_dropdown {
  max-width: 600px;
  word-wrap: break-word;
}

ul.dropdown-menu#account_dropdown {
min-width:100px !important;
color:black;
a {
  margin:0;
  padding-right: 0;
  color:black !important;
}
}

.notif_text {
  position: relative;
  top:-20px;
}

/* following */

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}


.comment_format input.btn {
  font-size:12px;
  padding:1px 5px;
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

.follower-block {
  display: inline-block;
}

li.follower_block_text {
  display: inline-block;
  position: relative;
  top:10px;
}

#follow_form {
  display: inline-block;
  height:25px;
}

#post_follow_form {
  font-size: 10px;
  color:green;
}


.profile_follow_form {
  text-align: center;
}

/* replies */

.responses {
  max-width: 500px;
  p {
    margin:0;
  }
}

.reply_container {
  padding-top: 0;
  margin-left: 28px;
  margin-top: 7px;
  border-left: 3px solid #CCC;

}

.reply_button {
  color:#0059b3 !important;
  position:relative;
  left:15px;
  cursor: pointer;
  display: block;
  font-size:13px;
  color: #555;
  margin-bottom: 8px;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

.signed_out_reply_line {
  height:3px;
  width:70px;
  margin-top: 7px;
  margin-bottom: 7px;
  background: #CCC;
}

.signed_in_reply_line {
  height:3px;
  width:100px;
  margin-bottom: 7px;
  background: #ccc;
}

#reply_form {
  background: rgba(255,255,255,0.9);
  padding:10px;
}

.show_follow_xhr {
  display: inline-block;
  height:25px;
}

.help-block {
  margin-left: 0 !important;
}
/* responsive */

@media screen and (max-width: 1199px) {
  span.index_time_ago {
    display: block;
    position: relative;
    right:-52px;
    top:-25px !important;
  }

}

@media screen and (max-width: 1140px) {
   .nav li a {
  padding:15px 7px;
}
  .navbar-form {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
  input#search {
    width:250px;
  }
}




@media screen and (max-width: 991px) {
  .well {
    max-width:250px;
  img {
    max-width:230px;
  }
  }
}



@media screen and (max-width: 910px) {
  input#search {
    width:152px;
  }
}

@media screen and (max-width: 810px) {
  input#search {
    width:73px;
  }
}




@media screen and (max-width: 788px) {

  .comment_format {
    padding-left: 10px;
  }

}

@media screen and (max-width: 767px) {
  input#search {
    width:100%;
    border-radius: 3px;
  }
  nav button[type="submit"] {
    border-radius: 3px;
  }
  nav .form-group {
  height:63px;
}

.login_or_signup_to {
  left:0;
}

.notifications_count {
  font-size: 12px;
  background: none;
  color:white;
  padding:0 2px;
  border-radius: 3px;
  z-index: 2;
  left:40px;

}
}



@media screen and (max-width: 645px) {

  .new_post {
    margin-left: 17px !important;
  }
  .comment_format {
    padding-top: 25px;
  }
}







@media screen and (max-width: 590px) {
    #response_content {
      width:400px;
    }
}


@media screen and (max-width: 435px) {

  .comment_format {
    padding-top: 50px;
  }

  .learn {
    padding-top: 30px;
  }

  .new_post_format {
    padding-top: 32px;
  }

}

@media screen and (max-width: 420px) {
  .new_post {
    margin-left: 0 !important;
  }
  #response_content {
    width:300px;
  }

}


@media screen and (max-width: 344px) {


  #response_content {
    width:150px;
  }
}

@media screen and (max-width: 283px) {

  .well img {
    max-width: 190px;
  }

}


@media screen and (max-width: 243px) {

  .well img {
    max-width: 100px;
  }

}

